.top
{
    background-color: #152039;

}
.bottom{
    text-align: center;
}
.heading{

    color:white;
    font-family: 'Gagalin';
    font-size :10vw;
    text-align: center;
    margin-top: 0;
    font-weight:inherit;

}
span
{
    font-size: 7vw
}

img{

    height: 50vmax;
    width:100vw;
    opacity: 0.4;

}
.date
{
    margin-top: 15vw;
    position:absolute;
    font-family: 'Cabin', sans-serif;
    color: #152039;
    font-size:5vw;
    font-weight: bolder;
    z-index: 1;
    width: 100%;


}

.box
{
    background:rgba(21,32,57,0.7);
    width: 8vw;
    height:8vw;
    border-radius:1vw;

}
.box h1{
    color: white;
    font-size: 4vw;
    font-family:'Open Sans', sans-serif;
    font-weight: 800;
    margin:0;
    height:5vw;
}
.box p{
    margin: 0;
    font-size: 1.5vw;
    font-family:'Open Sans', sans-serif;
    font-weight: 800;
}
.box{
    margin-right:0.75vw;
    margin-left: 0.75vw;
}
.container
{
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: row;
    width:100%;
    justify-content: center;
    margin-top: 24vw;
}
